<div class="text-center mt-3">
  <h2>{{'member-list.matches' | translate}} - {{pagination?.totalItems}} {{'member-list.found' | translate}}</h2>
</div>
<div class="container mt-3">
   <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
     <div class="form-group">
       <label for="">{{'member-list.age-from' | translate}}:</label>
       <input type="number" class="form-control ml-1" style="width: 70px;" name="minAge"
       [(ngModel)]="memberFilter.minAge">
     </div>

     <div class="form-group px-2">
      <label for="">{{ 'member-list.age-to' | translate }}:</label>
      <input type="number" class="form-control ml-1" style="width: 70px;" name="maxAge"
      [(ngModel)]="memberFilter.maxAge">
    </div>

    <div class="form-group px-2">
      <label for="">{{ 'member-list.show' | translate }}:</label>
      <select type="number" class="form-control ml-1" style="width: 130px;" name="gender"
      [(ngModel)]="memberFilter.gender">
    <option *ngFor="let item of genderOptions" [value]="item.value">{{item.display | translate }}</option>
    </select>
    </div>

    <button class="btn btn-primary ml-1" type="submit">{{ 'member-list.apply-filters' | translate}}</button>
    <button class="btn btn-info ml-1" type="reset" (click)="resetFilters()">{{ 'member-list.reset-filters' | translate}}</button>

    <div class="col">
      <div class="btn-group float-right">
        <button class="btn btn-primary" type="button" name="orderBy" (click)="loadMembers()" btnRadio='lastActive'[(ngModel)]="memberFilter.orderBy">{{ 'member-list.last-active' | translate }}</button>
        <button class="btn btn-primary" type="button" name="orderBy" (click)="loadMembers()" btnRadio='created'[(ngModel)]="memberFilter.orderBy">{{ 'member-list.newest-members' | translate }}</button>
      </div>
    </div>
   </form>
</div>



<div class="row">
  <div class="col-2" *ngFor="let member of members">
     <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
  [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;" nextText="&rsaquo;"
  firstText="&laquo;" lastText="&raquo;">
</pagination>
</div>
