<div class="row">
  <div class="col-4">
    <div class="card">
      <img src="{{member.mainPhotoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
      class="card-img-top img-thumbnail">
      <!--card body-->
      <div class="card-body">
        <div>
          <strong>{{'member-detail.location' | translate}}:</strong>
          <p>{{member.city}},{{member.country}}</p>
        </div>

        <div>
          <strong>{{'member-detail.age' | translate}}:</strong>
          <p>{{member.age}}</p>
        </div>

        <div>
          <strong>{{'member-detail.last-active' | translate}}:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>

        <div>
          <strong>{{'member-detail.member-since' | translate}}:</strong>
          <p>{{member.created | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
        </div>

      </div>
      <!--card footer-->
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary col-6">{{'member-detail.like' | translate}}</button>
          <button class="btn btn-success col-6" (click)="selectTab(3)">{{'member-detail.message' | translate}}</button>
        </div>
    </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab heading="{{'member-detail.about' | translate}}  {{member.knownAs}}" (selectTab)="onTabActivated($event)">
        <h4>{{'member-detail.description' | translate}}</h4>
        <p>{{member.introduction}}</p>
        <h4>{{'member-detail.looking-for' | translate}}</h4>
        <p>{{member.lookingFor}}</p>
      </tab>
      <tab heading="{{'member-detail.interests' | translate}}" (selectTab)="onTabActivated($event)">
        <!-- <h4>{{'member-detail.interests' | translate}}</h4> -->
        <p>{{member.interests}}</p>
      </tab>
      <tab heading="{{'member-detail.photos' | translate}}" (selectTab)="onTabActivated($event)">
       <ngx-gallery [options]="galleryOPtions" [images]="galleryImages"
       style="display: inline-block;margin-bottom: 20px;"></ngx-gallery>
      </tab>
      <tab heading="{{'member-detail.messages' | translate}}" (selectTab)="onTabActivated($event)">
        <app-member-messages  [usernameThatIamTalkingTo]="member.userName"></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>

